# Node.js
node_modules/
npm-debug.log
package-lock.json

# Build
build/
dist/
*.tsbuildinfo

# Editor
.vscode/
.idea/

# Environment
.env
.env.local
.env.test
.env.development.local
.env.production.local

# Logs
*.log

# Miscellaneous
.DS_Store
Thumbs.db